<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>webframe</display-name>
  <context-param>
      <param-name>isLog4jAutoInitializationDisabled</param-name>
      <param-value>false</param-value>
  </context-param>
  <listener>
    <listener-class>org.apache.logging.log4j.web.Log4jServletContextListener</listener-class>
  </listener>

  <filter>
    <filter-name>sitemesh</filter-name>
    <filter-class>com.kun.framework.web.web.SitemeshConfigFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sitemesh</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>sitemeshFreemarker</filter-name>
    <filter-class>com.kun.framework.web.web.SitemeshFreemarkerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sitemeshFreemarker</filter-name>
    <url-pattern>*.ftl</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>

  <filter>
    <filter-name>defaultFilter</filter-name>
    <filter-class>com.kun.portal.webframe.filter.DefaultFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
    <init-param>
      <param-name>except_path_regex</param-name>
      <param-value>.*/(Login|login|api|sso).*</param-value>
    </init-param>
    <init-param>
      <param-name>rest-auth</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>trace-log</param-name>
      <param-value>none</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>defaultFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>logFilter</filter-name>
    <filter-class>com.kun.portal.webframe.filter.AccessLogFilter</filter-class>
    <init-param>
      <param-name>record_response_request</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>uri</param-name>
      <param-value>(.*/ftl/.*|.*/api/.*)</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>logFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>HiddenHttpMethodFilter</filter-name>
    <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HiddenHttpMethodFilter</filter-name>
    <servlet-name>mvc</servlet-name>
  </filter-mapping>
  <servlet>
    <servlet-name>mvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>mvc</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <error-page>
    <error-code>404</error-code>
    <location>/ftl/web/error_404</location>
  </error-page>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>